/* Styles for header */
#div-gov_co {
    padding-left: 150px; /* Espacio a la izquierda para no pegar al borde */
}

#logo-container {
    padding-left: 150px; /* Añadir espacio para que no esté pegado al borde izquierdo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra al final del contenedor */
    height: 80px; /* Ajusta la altura según sea necesario */
    display: flex;
    justify-content: center; /* Centrar verticalmente el contenido */
}

#logo-invima-header {
    width: 200px;
    height: auto;
}

.welcomeDiv {
    padding: 10px;
}

.user-menu {
    right: 50%;
    top: 65%;
    min-width: 200px !important;
}

.user-icon:hover + div + .user-menu,
.user-icon:hover ~ .user-menu,
.user-menu:hover {
    display: block;
}

.block-logo-invima-header {
    padding: 10%;
    height: 80px;
}

.main-index {
    background-color: #F9F9F9;
    padding-bottom: 8.5rem;
}

.container-login {
    background: white;
    margin: 80px;
    border-radius: 12px;
    padding: 80px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.16);
}

/* Body */
.col-md-6 {
    max-width: 400px;
    margin: auto;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.title1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-control1 {
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 200px;
}

.form-control2 {
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 200px;
}

.lb1{
    margin-left: 205px;
}

.lb2{
    margin-right: 370px;
}

.lb3{
    margin-right: 290px;
}

.lb4{
    margin-right: 330px;
}

.btn-sesion:hover {
    background-color: #39A5C7;
    color: #ffffff;
}

.btn-reg {
    background-color: #39A5C7;
    color: #ffffff;
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    margin-left: 200px;
}

.btn-can {
    align-items: center ;
    background-color: #9AC357;
    color: #ffffff;
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 120px;
    height: 40px;
    margin-left: 280px;
}

.btn-can:hover {
    background-color: #ffffff;
    color: #9AC357;
    border:  1px solid #9AC357;
}

.btn-reg:hover {
    background-color: #ffffff;
    color: #39A5C7;
    border:  1px solid #39A5C7;
}

.form-row {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.form-row1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

.btn-registro {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 16px;
}

.btn-registro:hover {
    text-decoration: underline;
}

.forgot-password {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    margin-left: 100px;
}

container-form {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Ajusta este margen según tus necesidades */
}

.form-login {
    flex: 0 1 70%;
    margin-right: 20px; /* Espacio entre el formulario y la caja de subida */
}

.upload-box {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 0 1 28%;
}

.upload-box input[type="file"] {
    margin-bottom: 20px;
}

.photo-characteristics {
    text-align: left;
}

.photo-characteristics h3 {
    margin-bottom: 10px;
}

.photo-characteristics ul {
    list-style-type: disc;
    padding-left: 20px;
}


/* Styles footer */
footer {
    background: var(--header-header-Gradiente, linear-gradient(90deg, #139EC8 0%, #01599A 100%));
    color: #4b4b4b;
    position: relative; /* Asegura que el footer esté en un contexto de posición */
    overflow: visible; /* Cambiar a visible para mostrar bordes */
}

#principal-section-footer {
    border: 2px solid #e5eefb;
    border-radius: 10px;
    opacity: 1;
    background: white; /* Fondo blanco para el contenedor */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para diferenciar del fondo */
    position: relative; /* Mantener relativo para moverlo respecto al footer */
    margin-top: -100px; /* Ajusta este valor para mover hacia arriba */
    z-index: 10; /* Asegura que esté por encima del fondo */
}

.region-footer {
    display: flex;
    flex-direction: column;
}


/* Responsive */
@media screen and (max-width: 1580px) {
    footer{
        padding: 80px 100px;
    }
  }
